circle {
    fill: steelblue;
    stroke: #000;
    }

    rect {
      fill: steelblue;
    }

    rect:hover {
        fill:green;
        }
    
    .chart text {
      fill: white;
      font: 10px sans-serif;
      text-anchor: end;
    }

.tooltip {
  position: absolute;
  font-family: Helvetica, Arial, sans-serif;
}

.axis path{
  fill:none;
  stroke:black;
  stroke-width: 0.15 px;
  shape-rendering: crispEdges;
}

.axis text{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-anchor: end;
}

path {
    stroke-width: 1;
    fill: none;
}

line {
    stroke: black;
}

text{font-family: Helvetica, Arial, sans-serif};